* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    width: 350px;
    padding: 16px;
    margin: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;/** отцентровать по горизонтали и вертикали*/
    align-items: center;

    position: relative;
}

.form_cross {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.form_title {
    width: 100%;/**шириной выравниваем по левому краю*/
    margin: 15px 0;
}

.form_input {
    width: 100%;
    margin: 2px 0;
    padding: 10px 12px;
    border-radius: 12px;
    border: 1px solid #CFD8DC;
}

.form_input:focus {
    outline: none;
    border-color: #FFE44D;
}

.form_btn {
    width: 100%;
    margin: 2px;
    border-radius: 15px;
    padding: 10px 12px;
    font-weight: bold;
    font-size: 14px ;
    border: 1px solid #CFD8DC;
}

.submit_btn {
    background-color: #FFE44D;
    border: 1px solid transparent;/**transparent прозрачная рамка*/
}

.redirect_btn {
    background-color: white;
    border: 1px solid #FFE44D;
    color: black;
    width: 100%;
    text-align: center;
}

.form_info-text {
    margin: 15px 0;
    color: gray;
    font-size: 13px;
    padding-left: 3px;
}

.restore_password {
   
    font-size: 13px;
    padding-left: 10px;
    margin: 15px 0;
    width: 100%; /** выровнять по праваму краю*/
    text-align: end;
    color: gray;
}

a {
    text-decoration: none;
}

.password_expire {
    font-size: 13px;
    margin: 15px 0;
    width: 100%; /** выровнять по праваму краю*/
    color: gray;
}